.page-container {
  --color-primary: #f1c969;
  --color-primary-light: #ffedc0;
  --color-primary-dark: #ba7816;
}

header {
  @apply flex flex-col justify-center items-center h-screen static;
}

h1 {
  color: #004161;
  @apply mb-28;
}

/* TODO: */
/* .header__img--big {
  @apply absolute
  w-full;
}

.header__img--small {
  @apply absolute
  -translate-x-1/2
  -translate-y-1/2

  top-2/3
  left-1/2;
} */

h2 {
  border-color: var(--color-primary);
  @apply py-4 text-center border-b-2 mb-6
    mt-10;
}

.overview {
  background-color: var(--color-primary-light);
  color: var(--color-primary-dark);
  @apply flex
  flex-col
  justify-center
  items-start
  p-20
  rounded-md;
}

.overview__item {
  @apply flex
  flex-row
  justify-start
  items-center;
}

.overview .overview__label {
  font-family: "Calistoga";
  @apply text-xl
  min-w-36;
}

.tldr {
  @apply flex
  gap-8
  mt-14;
}

.tldr__vs {
  @apply w-1/2
  flex
  flex-col;
}

ul {
  @apply pl-8 list-disc;
}

h3 {
  @apply text-3xl;
}

.text-block {
  @apply flex
  flex-col
  mt-14
  gap-4;
}

.image {
  @apply rounded-md mt-6
  hover:shadow-lg
  hover:-translate-y-1
  transition-all;
}

.duplex {
  @apply flex
  justify-center
  items-center
  gap-8
  mt-14;
}

.duplex .duplex__text-block {
  @apply flex
  flex-col
  w-1/2
  gap-6;
}

.duplex .duplex__image {
  @apply flex
  w-1/2;
}

.duplex .duplex__title {
  @apply flex
  flex-col
  gap-1;
}

.moodboard-grid {
  display: grid;
  width: 100%;
  grid-template-rows: repeat(8, 80px);
  grid-template-columns: 0.3fr 0.3fr 0.2fr 0.2fr;
  gap: 16px;
}

.grid-item {
  @apply rounded-md
  relative
  overflow-hidden
  hover:shadow-lg
  hover:-translate-y-1
  transition-all;
}

.grid-img {
  position: absolute;
  height: 100%;
  width: 100%;
  inset: 0px;
  object-fit: cover;
  color: transparent;
}

.mood-01 {
  /* grid-area: <name> | <row-start> / <column-start> / <row-end> / <column-end>; */
  grid-area: 1/1/4/2;
}

.mood-02 {
  grid-area: 1/2/5/3;
}

.mood-03 {
  grid-area: 1/3/3/5;
}

.mood-04 {
  grid-area: 4/1/7/2;
}

.mood-05 {
  grid-area: 5/2/8/3;
}

.mood-06 {
  grid-area: 3/3/6/5;
}

.mood-07 {
  grid-area: 7/1/9/2;
}

.mood-08 {
  grid-area: 8/2/9/3;
}

.mood-09 {
  grid-area: 6/3/9/4;
}

.mood-10 {
  grid-area: 6/4/9/5;
}

.graphics-grid {
  display: grid;
  grid-template-rows: repeat(9, 75px);
  grid-template-columns: repeat(12, 1fr);
  gap: 16px;
  border-radius: 8px;
}

.grid-img {
  position: absolute;
  height: 100%;
  width: 100%;
  inset: 0px;
  object-fit: cover;
  color: transparent;
}

.grid-img-graph {
  position: absolute;
  height: 100%;
  width: 100%;
  inset: 0px;
  object-fit: contain;
  color: transparent;
}

.item {
  background-color: #f8aa36;
}

.graph-01 {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  grid-area: 1/1/4/4;
  border: 1px solid var(--color-primary-light);
}

.graph-02 {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  grid-area: 1/4/4/6;

  border: 1px solid var(--color-primary-light);
}

.graph-03 {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  grid-area: 1/6/5/8;

  border: 1px solid var(--color-primary-light);
}

.graph-04 {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  grid-area: 1/8/3/10;

  border: 1px solid var(--color-primary-light);
}

.graph-05 {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  grid-area: 3/8/5/10;

  border: 1px solid var(--color-primary-light);
}

.graph-06 {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  grid-area: 1/10/5/13;

  border: 1px solid var(--color-primary-light);
}

.graph-07 {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  grid-area: 4/1/8/3;

  border: 1px solid var(--color-primary-light);
}

.graph-08 {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  grid-area: 4/3/7/6;

  border: 1px solid var(--color-primary-light);
}

.graph-09 {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  grid-area: 5/6/10/10;

  border: 1px solid var(--color-primary-light);
}

.graph-10 {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  grid-area: 5/10/7/13;

  border: 1px solid var(--color-primary-light);
}

.graph-11 {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  grid-area: 8/1/10/3;

  border: 1px solid var(--color-primary-light);
}

.graph-12 {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  grid-area: 7/3/10/6;

  border: 1px solid var(--color-primary-light);
}

.graph-13 {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  grid-area: 7/10/10/13;

  border: 1px solid var(--color-primary-light);
}

.embla {
  margin: auto;
  --slide-height: 19rem;
  --slide-spacing: 1rem;
  --slide-size: 100%;
}
.embla__viewport {
  overflow: hidden;
}
.embla__container {
  backface-visibility: hidden;
  display: flex;
  touch-action: pan-y;
  margin-left: calc(var(--slide-spacing) * -1);
}

.embla__slide--4 {
  flex: 0 1 var(--slide-size);
  min-width: calc(0.25 * var(--slide-size));
  padding-left: var(--slide-spacing);
  padding-right: var(--slide-spacing);
  gap: var(--slide-spacing);
}

.embla__slide {
  flex: 0 0 var(--slide-size);
  min-width: 0;
  padding-left: var(--slide-spacing);
  padding-right: var(--slide-spacing);
  gap: var(--slide-spacing);
}

.embla__image--dbl {
  width: calc(50% - (var(--slide-spacing) / 2));
}

.embla__slide__number {
  box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
  border-radius: 1.8rem;
  font-size: 4rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--slide-height);
}
.embla__controls {
  display: grid;
  grid-template-columns: auto 1fr;
  justify-content: space-between;
  gap: 1.2rem;
  margin-top: 1.8rem;
}
.embla__buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.6rem;
  align-items: center;
}
.embla__button {
  -webkit-tap-highlight-color: rgba(var(--text-high-contrast-rgb-value), 0.5);
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  touch-action: manipulation;
  display: inline-flex;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  padding: 0;
  margin: 0;
  box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
  z-index: 1;
  border-radius: 50%;
  color: var(--text-body);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-primary);
  max-width: 1.5rem;
  max-height: 1.5rem;
}
.embla__button:disabled {
  color: var(--color-primary-light);
}

.embla__button__svg {
  width: 100%;
  height: 100%;
}

.embla__button--next {
}

.embla__button--prev {
  margin-right: 0.5rem;
}
.embla__dots {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-right: calc((2.6rem - 1.4rem) / 2 * -1);
  margin-top: 1rem;
}
.embla__dot {
  -webkit-tap-highlight-color: rgba(var(--text-high-contrast-rgb-value), 0.5);
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  touch-action: manipulation;
  display: inline-flex;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  padding: 0;
  margin: 0;
  width: 1.2rem;
  height: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.embla__dot:after {
  box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
  background-color: var(--color-primary-light);
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  content: "";
}
.embla__dot--selected:after {
  box-shadow: inset 0 0 0 0.2rem var(--text-body);
  background-color: var(--color-primary);
}

.img_slide {
  position: absolute;
  height: 100%;
  width: 100%;
  inset: 0px;
  object-fit: cover;
  color: transparent;
}

.bg-kotb-yellow {
  background-color: var(--color-primary);
  justify-content: center;
  align-items: center;

  @apply p-10
  rounded-md;
}

blockquote {
  background-color: var(--color-primary-light);
  color: var(--color-primary-dark);
  position: relative;
  overflow: hidden;

  @apply flex flex-col justify-center items-start p-10
    rounded-md;
}

blockquote::after {
  /* content: "❝"; */
  content: "\201C";
  position: absolute;
  font-size: 16rem;
  left: 0;
  color: #f1c8699a;
}
