@import url("https://fonts.googleapis.com/css2?family=Calistoga&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Calistoga&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
p-2 = 8px
p-4 = 16px
p-6 = 24px
p-8 = 32px

p-14 = 56px
*/

:root {
  --font-calistoga: "Calistoga";
  --font-lato: "Lato";
  --color-accent: #ff6f6b;
}

html {
  font-family: var(--font-lato);
  scroll-behavior: smooth;
  @apply text-zinc-700;
}

h1,
h2,
h3,
h4 {
  font-family: var(--font-calistoga);
}

h1,
h2 {
  @apply text-5xl;
}

h3 {
  @apply text-3xl;
}

h4 {
  @apply text-xl;
}

nav {
  @apply flex justify-center items-center h-14 border border-b-zinc-200 shadow-sm;
}

p,
li {
  @apply text-lg;
}

.container {
  @apply mx-auto lg:max-w-screen-lg md:max-w-screen-md sm:max-w-screen-sm;
}

.nav__content {
  font-family: var(--font-calistoga);
  width: 1024px;
  @apply mx-auto;
}

.nav__logo {
  color: var(--color-accent);
}

.nav__logo::after {
  content: "";
  display: block;
  border-bottom: 1px solid var(--color-accent);
  top: 6px;

  transform: scaleX(0);
}

.nav__logo:hover::after {
  transition: all 0.2s;
  transform: scaleX(1);
}

.nav__link:hover {
  color: var(--color-accent);
  cursor: pointer;

  transition: all 0.2s;
}

.nav__link::after {
  content: "";
  display: block;
  border-bottom: 1px solid var(--color-accent);
  top: 6px;

  transform: scaleX(0);
}

.nav__link:hover::after {
  transition: all 0.2s;
  transform: scaleX(1);
}

.tag {
  border: 1px solid var(--color-accent);
  color: var(--color-accent);
  background-color: #ff706b0c;
  @apply inline-flex px-2 mr-1 my-1 text-center
    rounded-full text-sm;
}

.intro {
  height: calc(100vh - 56px);
}
